---
{
    "stream": {
        "$id": "product-categories",
        "source": "knowledgeGraph",
        "destination": "pages",
      "filter": {
        "entityTypes": [
          "ce_productCategory"
        ]
      },
      "fields": [
        "id",
        "uid",
        "meta",
        "name",
        "slug",
        "richTextDescription",
        "c_relatedProducts.name",
        "c_relatedProducts.slug",
        "c_relatedProducts.photoGallery",
        "c_relatedProducts.brand",
        "c_relatedProducts.price",
        "c_relatedProducts.color",
        "c_relatedProducts.richTextDescription"
      ],
      "localization": {
          "locales": ["en"]
      }
    },
    "urlFormat": "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}}</title>
    <meta name="description" content=Category page for {{name}}.>
    {{>head}}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
</head>

  <div class="container mx-auto px-4">
    <body>
        
    {{>navbar}}

    <div class="container py-8 px-6 mx-auto">
      <div class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-2xl mb-8">{{name}}</div>
      <p class="mt-8 mb-8">{{convertRTFToHTML richTextDescription}}</p>
    </div>

    {{#each c_relatedProducts}}
      <div class="grid grid-cols-7 divide-gray-300 divide-y-4 gap-3 pl-10">
          <div class="col-span-2">
              <div class="mb-5">
                  {{>photoGallery photoGallery}}
              </div>
          </div>

          <div class="col-span-5">
              <div class="container py-8 px-6 mx-auto">
                  <div>
                    <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-2xl mb-8 hover:text-blue-900" href={{slug}}>{{name}}</a>
                  </div>
                  <div class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-600 text-xl mb-8 pt-6">
                      {{brand}} 
                  </div>
                  <div class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-400 text-xl mb-8">
                      ${{price.value}} 
                  </div>
                  <p class="mt-8 mb-8 text-l">{{convertRTFToHTML richTextDescription}}</p>
                  <p class="mt-8 text-l"><b>Color:</b> {{color}}</p>
              </div>
          </div>
      </div>
    {{/each}}

    </body> 
  </div>

{{>footer}}

</html>