---
{
    "stream": {
        "$id": "products",
        "source": "knowledgeGraph",
        "destination": "pages",
      "filter": {
        "entityTypes": [
          "product"
        ]
      },
      "fields": [
        "id",
        "uid",
        "meta",
        "richTextDescription",
        "name",
        "slug",
        "price",
        "color",
        "brand",
        "photoGallery"
      ],
      "localization": {
          "locales": ["en"]
      }
    },
    "urlFormat": "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}}</title>
    <meta name="description" content={{richTextDescription}}>
    {{>head}}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
</head>

<div class="container mx-auto px-4">
    <body>
        {{>navbar}}
            <div class="grid grid-cols-2 divide-x gap-3 pl-10">
                <div class="col-span-1">
                    <div class="w-full md:w-full lg:scale-80 p-6 flex flex-col space-y-6">
                        {{>photoGallery photoGallery}}
                    </div>
                </div>
                <div class="col-span-1">
                    <div class="container py-8 px-6 mx-auto">
                        <div class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-4xl mb-8">
                            {{name}} 
                        </div>
                        <div class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-600 text-3xl mb-8">
                            {{brand}} 
                        </div>
                        <div class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-400 text-3xl mb-8">
                            ${{price.value}} 
                        </div>
                        <p class="mt-8 mb-8 text-xl">{{convertRTFToHTML richTextDescription}}</p>
                        <p class="mt-8 text-xl"><b>Color:</b> {{color}}</p>
                    </div>
                </div>
            </div>
    </body> 
</div>

{{>footer}}

</html>